.About_me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vw;
    padding-bottom: 3vw;
    padding-top: 8vw;
}

.about_me-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.description-container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding-top: 2vw;
    gap: 2vw;
    font-size: 1.3vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.content {
    display: flex;
    gap: 5vw;
}

.about_me-desc {
    font-size: 1.25vw
}

.profile {
    font-size: 100vw;
}

.resume-button {
    font-size: 2vw;
    font-weight: bold;
}