.Home {
    margin-top: 10vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
    width: 100%;
}

.intro {
    font-size: 2.5vw;
}

.home-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}


.name {
    text-align: center;
    font-size: 2.5vw;
}

.slogan {
    font-size: 2vw;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;
    margin-bottom: 1vw;
}

.contacts-title {
    font-size: 2vw;
    font-weight: bold;
}

.contact-links {
    display: flex;
    gap: 5vw;
}

.waving-cat {
    width: 17vw
}
