.container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    gap: 1.5vw;
    width: 30vw;
    border: '1vw solid black';
    padding: 3vw;
}

.title {
    font-size: 2vw;
    font-weight: bold;
}

.input-email{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2vw;
}

.email-field {
    width: 20vw;
}

.message-field {
    width: 30vw;
    height: 5vw;
}