.nav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	height: 10vh;
}

.navbar-menu {
	display: block;
	height: 10vh;
}

.navbar-toolbar {
	box-sizing: border-box;
	display: flex;
	background-color: rgb(255, 255, 255);
	color: black;
	text-transform: uppercase;
	align-items: center;
	gap: 4vw;
	font-size: 1.15vw;
}

.nav-links{
	color: black;
	text-decoration: none;
	font-weight: normal;
}

.nav-links.active {
	color: blue;
	font-weight: bold;
}